<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
      <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77"/>
    </system.web>
  <appSettings>
    <!--数据库相关配置开始-->
    <add key="DB_IP" value="127.0.0.1" />
    <add key="DB_Port" value="3306"/>
    <add key="DB_User" value="mpserver" />
    <add key="DB_Pass" value="mpserver123" />
    <add key="DB_Database" value="mpserver" />
    <!--<add key="DB_User" value="MPSend" />
    <add key="DB_Pass" value="happen123" />
    <add key="DB_Database" value="MPSend" />-->
    <!--数据库相关配置结束-->
  </appSettings>
</configuration>
